.main{
    display: flex;
    align-items: center;
    justify-content: center;
    &-row{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @import './section/section-1';
        @import './section/section-2';
        @import './section/section-3';
    }
}   